In [21]:
import numpy as np 
import pandas as pd

In [22]:
url = 'https://raw.githubusercontent.com/ArkajyotiChakraborty/Summer_Of_Bitcoin/master/mempool.csv'
df = pd.read_csv(url)
df

                                                  tx_id  ...                                           parents
0     2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...  ...                                                NaN
1     79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...  ...  6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2     b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...  ...                                                NaN
3     8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...  ...                                                NaN
4     edc82751537be6afcb21c0229d8d20916d8e742a363ab2...  ...                                                NaN
...                                                 ...  ...                                                ...
5209  e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...  ...                                                NaN
5210  e33973618a9774aeb85548368efeaddb206ef206717e72...  ...                                                NaN
5211  88a8c7118ac82199523eb10670f49c8b7f5ac82d404907...  ...  33c7c7bcb1cc07743fc3240cac6af31e4d4a8f535cae71...
5212  4c5b18c0870665958fc2a377e425b70f8d01f03395af72...  ...                                                NaN
5213  631dee801c00241fc61bccc56112cf7670ce7150f4c642...  ...                                                NaN

[5214 rows x 4 columns]

In [23]:
df3 = df[df['parents '].isna()]
df3

                                                  tx_id   fee  weight parents
0     2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...   452    1620      NaN
2     b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...   226     900      NaN
3     8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...   258    1032      NaN
4     edc82751537be6afcb21c0229d8d20916d8e742a363ab2...   452    1616      NaN
6     d506243d15088e94cf5300c55c67889d61f798750f6c59...   285    1132      NaN
...                                                 ...   ...     ...      ...
5208  4059913e477fc7bbb918ca3c258a96f61bedda5b12ba91...   862     576      NaN
5209  e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...   850     568      NaN
5210  e33973618a9774aeb85548368efeaddb206ef206717e72...  1496    1488      NaN
5212  4c5b18c0870665958fc2a377e425b70f8d01f03395af72...   862     576      NaN
5213  631dee801c00241fc61bccc56112cf7670ce7150f4c642...   850     568      NaN

[3214 rows x 4 columns]

In [24]:
# checking the NAN values in the dataset. 
Count_NAN = df['parents '].isna().sum()
Count_NAN

3214

In [25]:
#checking the duplicate values as mentioned in the problem statement. 
df2 = df.pivot_table(index = ['parents '], aggfunc='size')
df2

parents
001eea6dae0bd5568542be629f5748cac3b5b52b24f1664486eb9f723f91c090    1
00243d4ef03ea24716898389decbf00c1a8766e09698ac89d3d14051eaf994c6    2
0035ba3017d7901a214139c1df20f916a51fb3b6bce7466cc3b59c801baecec8    1
0038920c0fddf730dc1ae07e1084f189c267cd485019a1a6b48a8dc57cbdd421    1
0066db2f7e0a3e261ebdf920ec816066702673d6a3e085fdf460e617546f15e0    1
                                                                   ..
ffb8e6c21479e00a053871da60007186f1078d89cecd02428e2c04b8164003b6    1
ffc0bd2ef3122e9f7234aeabb53eac09303703723df777d1b4d3a9096e70defa    1
ffcb043800faebbaa8a64ae3e54185ee73ef04425de828ded1756ecd6279328b    1
ffd7ebe7c403c8b2cb3f009a7119a7b0a2d08f34aa7a8823fa0c983b1847bc8d    1
ffea7a0e8ed92ae7f981965cbe6cc6e3a4ab2a9860f4b2a12767f43bac09ea44    1
Length: 1990, dtype: int64

In [26]:
# we can wintness there are duplicate values hence we can drop them and only take care of the original values. therefore drop the duplicate
df.drop_duplicates(subset='parents ',keep = False,inplace=True)
df

                                                  tx_id  ...                                           parents
1     79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...  ...  6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
5     384718a612cc6b220a8eeaf36f9d179e70fe233e2e9068...  ...  edc82751537be6afcb21c0229d8d20916d8e742a363ab2...
21    3733a3ce668c18863252cf6baa3a1e6e6eaadb31768bb5...  ...  50d949aaf11386f7f073ead1dbd7c39d9604e3c993738a...
22    011d65e7eb10e378e7370399cda7af0db648d90c30ca28...  ...  e9729cc3da87c37f1a3cc11d8ad2b5c4e15dfc028dace8...
27    396b15f856ce55cba0a7d20af3a7b770bd4e1e66fa75de...  ...  7ddb85d2922cda6c186f18e4b3f722b79a8c03f7dbf20e...
...                                                 ...  ...                                                ...
5171  f0d09ed4f5b853263a10811a7d7790e18ad4aeb861fa34...  ...  15a77c352fe0626402a09e7ffe914037935e5cb6445dbb...
5172  28698e7ac30ac290c7c3c832c2bf88a8be670ad22124b1...  ...  895675cd32c7875b9e3d8a252b9ba6e7ce3fd1fa659c9c...
5179  e470cd82a5931ca8102411595f97e55ce361b0a596d058...  ...  068a854ced4deba852d650f39a930661bb295e24866764...
5203  eeb8be5cacf39d24fc397912b39463350acf4786a451b7...  ...  89ac04933f1e900b14a64d41fb9ee7448d026674039cc7...
5211  88a8c7118ac82199523eb10670f49c8b7f5ac82d404907...  ...  33c7c7bcb1cc07743fc3240cac6af31e4d4a8f535cae71...

[1983 rows x 4 columns]

In [27]:
parent_count = len(df['parents '])
parent_count

1983

In [28]:
sum_total_count = parent_count + Count_NAN
sum_total_count

5197

In [29]:
#we have created the dataset that contain the final transaction here. 
df4 = pd.concat([df,df3])
df4

                                                  tx_id  ...                                           parents
1     79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...  ...  6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
5     384718a612cc6b220a8eeaf36f9d179e70fe233e2e9068...  ...  edc82751537be6afcb21c0229d8d20916d8e742a363ab2...
21    3733a3ce668c18863252cf6baa3a1e6e6eaadb31768bb5...  ...  50d949aaf11386f7f073ead1dbd7c39d9604e3c993738a...
22    011d65e7eb10e378e7370399cda7af0db648d90c30ca28...  ...  e9729cc3da87c37f1a3cc11d8ad2b5c4e15dfc028dace8...
27    396b15f856ce55cba0a7d20af3a7b770bd4e1e66fa75de...  ...  7ddb85d2922cda6c186f18e4b3f722b79a8c03f7dbf20e...
...                                                 ...  ...                                                ...
5208  4059913e477fc7bbb918ca3c258a96f61bedda5b12ba91...  ...                                                NaN
5209  e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...  ...                                                NaN
5210  e33973618a9774aeb85548368efeaddb206ef206717e72...  ...                                                NaN
5212  4c5b18c0870665958fc2a377e425b70f8d01f03395af72...  ...                                                NaN
5213  631dee801c00241fc61bccc56112cf7670ce7150f4c642...  ...                                                NaN

[5197 rows x 4 columns]

In [30]:
# hence now just extract the tx_id col from the above. and make it into a csv file.
df5=df4.drop(['fee','weight','parents '],axis=1)
df5

                                                  tx_id
1     79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...
5     384718a612cc6b220a8eeaf36f9d179e70fe233e2e9068...
21    3733a3ce668c18863252cf6baa3a1e6e6eaadb31768bb5...
22    011d65e7eb10e378e7370399cda7af0db648d90c30ca28...
27    396b15f856ce55cba0a7d20af3a7b770bd4e1e66fa75de...
...                                                 ...
5208  4059913e477fc7bbb918ca3c258a96f61bedda5b12ba91...
5209  e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...
5210  e33973618a9774aeb85548368efeaddb206ef206717e72...
5212  4c5b18c0870665958fc2a377e425b70f8d01f03395af72...
5213  631dee801c00241fc61bccc56112cf7670ce7150f4c642...

[5197 rows x 1 columns]

In [32]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [34]:
df5.to_csv('Block.txt')
!cp Block.txt "drive/My Drive/"